@import "./uiSystem.scss";

body {
  display: flex;
  align-items: flex-start;
  background-color: $grey100;
  border: 2px solid $grey200;
  font: {
    family: "Poppins Light";
    size: $xl;
  }
  width: 1500px;
  color: $grey800;
}
#root,
.App {
  width: 100%;
  height: 100%;
}

header {
  padding: $xh;
  display: flex;
  flex-flow: column nowrap;
  min-height: 850px;
  justify-content: space-between;
}

main {
  padding: $xh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: baseline;
  font: {
    size: $xl;
  }

  img {
    width: 120px;
    height: 120px;
  }

  ul {
    text: {
      transform: capitalize;
    }
    a {
      text: {
        decoration: none;
      }
      &:hover {
        color: $green700;
      }
    }
    display: flex;
    column-gap: $h;
    list-style-type: none;
    li {
      &:last-of-type,
      &:nth-of-type(2) {
        min-width: 12ch;
      }
    }
    details {
      summary {
        list-style-type: none;
        cursor: pointer;
        &:hover {
          color: $green700;
        }
        &::before {
          content: "\002b";
          padding: {
            right: $xxs;
          }
        }
      }
      &[open] {
        summary {
          &::before {
            content: "\2212";
          }
        }
      }

      ul {
        flex-flow: column;
        row-gap: $xxs;
        padding: {
          top: $xxs;
        }

        li {
          padding: {
            left: $m;
          }
        }
      }
    }
  }
}

.hero {
  display: flex;
  flex-flow: row wrap;
  column-gap: $h;
  article {
    flex: 1 1 40%;
    display: flex;
    flex-flow: column nowrap;
    row-gap: $l;
    &:first-of-type {
      span {
        font: {
          size: $xxl;
          family: "Poppins Medium";
        }
        &::first-letter {
          text: {
            transform: capitalize;
          }
        }
        color: $green600;
      }
      p {
        font: {
          size: $xl;
        }
        &:first-letter {
          text: {
            transform: capitalize;
          }
        }
        max-width: 45ch;
      }
    }
    &:last-of-type {
      justify-content: center;
      align-items: center;
      background: {
        image: url("./assets/img/hero_bkg.webp");
        repeat: no-repeat;
        size: cover;
      }
      img {
        filter: brightness(1.4);
        width: 350px;
        object-fit: cover;
      }
    }
  }
}
.subscription {
  margin: {
    top: $h;
  }
  display: flex;
  input {
    height: $xh;
    font: {
      family: "Poppins Light";
      size: $l;
    }
    &[type="email"] {
      background-color: transparent;
      border: 2px solid $grey500;
      border-right: none;
      border: {
        top-left-radius: $xxs;
        bottom-left-radius: $xxs;
      }
      padding: $m;
    }
    &[type="submit"] {
      cursor: pointer;
      width: 180px;
      border: 2px solid $green700;
      background-color: $green700;
      border: {
        top-right-radius: $xxs;
        bottom-right-radius: $xxs;
      }
      color: $grey100;
      &:hover {
        opacity: 0.9;
      }
    }
  }
}

.whoWeAre {
  display: flex;
  flex-flow: row wrap;
  column-gap: $h;
  article {
    display: flex;
    flex: 1 1 40%;

    &:first-of-type {
      justify-content: center;
      background: {
        image: url("./assets/img/who_we_are_bkg.svg");
        repeat: no-repeat;
        // size: cover;
      }
      img {
        width: 350px;
      }
    }
    &:last-of-type {
      flex-flow: column wrap;
    }
  }
}

.youthGaff,
.ferryChats {
  display: flex;
  flex-flow: row wrap;
  column-gap: $h;
  article {
    flex: 1 0 40%;
    display: flex;
    flex-flow: column wrap;
    row-gap: $m;
    &:first-of-type{
      address{
        display: inline-flex;
      }
    }
    &:last-of-type {
      justify-content: flex-end;

      img {
        width: 100%;
      }
    }
  }
}
h1 {
  font: {
    size: $h;
    family: "Poppins Bold";
  }
  &:first-letter {
    text: {
      transform: capitalize;
    }
  }
  color: $grey900;
}
h2 {
  font: {
    family: "Poppins Medium";
    size: $h;
  }
  text: {
    transform: capitalize;
  }
  color: $grey800;
}
h3 {
  font: {
    family: "Poppins Medium";
    size: $xxl;
  }
  text: {
    transform: capitalize;
  }
  color: $orange700;
}

.active {
  color: $green700;
  font: {
    family: "Poppins Bold";
  }
}

.inactive {
  color: $grey900;
}
.pending {
  color: $grey700;
}

.btn {
  padding: $xxs $xxxl;
  border: 2px solid $green700;
  border-radius: $xxs;
  height: $h;
  text: {
    decoration: none;
    transform: capitalize;
  }
}

.primaryBtn {
  background-color: $green700;
  color: $grey100;
  &:hover {
    opacity: 0.9;
  }
}
/* Responsiveness */
@import "./tablet.scss";
@import "./mobile.scss";
