/* Font Sizes */
/* Font Weights */
@font-face {
  font-family: "Poppins Light";
  src: local("Courier"), url("./assets/fonts/Poppins-Light.ttf");
  font-display: swap; }
@font-face {
  font-family: "Poppins Medium";
  src: local("Courier"), url("./assets/fonts/Poppins-Medium.ttf");
  font-display: swap; }
@font-face {
  font-family: "Poppins Bold";
  src: local("Courier"), url("./assets/fonts/Poppins-Bold.ttf");
  font-display: swap; }
/* Greys */
/* Orange */
/* Green */
/*Default box sizing*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth;
  display: flex;
  justify-content: center; }

a {
  color: #212529; }

body {
  display: flex;
  align-items: flex-start;
  background-color: #f8f9fa;
  border: 2px solid #e9ecef;
  font-family: "Poppins Light";
  font-size: 20px;
  width: 1500px;
  color: #343a40; }

#root,
.App {
  width: 100%;
  height: 100%; }

header {
  padding: 60px;
  display: flex;
  flex-flow: column nowrap;
  min-height: 850px;
  justify-content: space-between; }

main {
  padding: 60px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between; }

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-content: baseline;
  font-size: 20px; }
  nav img {
    width: 120px;
    height: 120px; }
  nav ul {
    text-transform: capitalize;
    display: flex;
    column-gap: 48px;
    list-style-type: none; }
    nav ul a {
      text-decoration: none; }
      nav ul a:hover {
        color: #44a66a; }
    nav ul li:last-of-type, nav ul li:nth-of-type(2) {
      min-width: 12ch; }
    nav ul details summary {
      list-style-type: none;
      cursor: pointer; }
      nav ul details summary:hover {
        color: #44a66a; }
      nav ul details summary::before {
        content: "\002b";
        padding-right: 7px; }
    nav ul details[open] summary::before {
      content: "\2212"; }
    nav ul details ul {
      flex-flow: column;
      row-gap: 7px;
      padding-top: 7px; }
      nav ul details ul li {
        padding-left: 16px; }

.hero {
  display: flex;
  flex-flow: row wrap;
  column-gap: 48px; }
  .hero article {
    flex: 1 1 40%;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 18px; }
    .hero article:first-of-type span {
      font-size: 30px;
      font-family: "Poppins Medium";
      color: #5bb17d; }
      .hero article:first-of-type span::first-letter {
        text-transform: capitalize; }
    .hero article:first-of-type p {
      font-size: 20px;
      max-width: 45ch; }
      .hero article:first-of-type p:first-letter {
        text-transform: capitalize; }
    .hero article:last-of-type {
      justify-content: center;
      align-items: center;
      background-image: url("./assets/img/hero_bkg.webp");
      background-repeat: no-repeat;
      background-size: cover; }
      .hero article:last-of-type img {
        filter: brightness(1.4);
        width: 350px;
        object-fit: cover; }

.subscription {
  margin-top: 48px;
  display: flex; }
  .subscription input {
    height: 60px;
    font-family: "Poppins Light";
    font-size: 18px; }
    .subscription input[type="email"] {
      background-color: transparent;
      border: 2px solid #adb5bd;
      border-right: none;
      border-top-left-radius: 7px;
      border-bottom-left-radius: 7px;
      padding: 16px; }
    .subscription input[type="submit"] {
      cursor: pointer;
      width: 180px;
      border: 2px solid #44a66a;
      background-color: #44a66a;
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
      color: #f8f9fa; }
      .subscription input[type="submit"]:hover {
        opacity: 0.9; }

.whoWeAre {
  display: flex;
  flex-flow: row wrap;
  column-gap: 48px; }
  .whoWeAre article {
    display: flex;
    flex: 1 1 40%; }
    .whoWeAre article:first-of-type {
      justify-content: center;
      background-image: url("./assets/img/who_we_are_bkg.svg");
      background-repeat: no-repeat; }
      .whoWeAre article:first-of-type img {
        width: 350px; }
    .whoWeAre article:last-of-type {
      flex-flow: column wrap;
      row-gap: 18px;
      align-items: flex-start; }

.youthGaff,
.ferryChats {
  display: flex;
  flex-flow: row wrap;
  column-gap: 48px; }
  .youthGaff article,
  .ferryChats article {
    flex: 1 0 40%;
    display: flex;
    flex-flow: column wrap;
    row-gap: 16px; }
    .youthGaff article:first-of-type address,
    .ferryChats article:first-of-type address {
      display: inline-flex; }
    .youthGaff article:last-of-type,
    .ferryChats article:last-of-type {
      justify-content: flex-end; }
      .youthGaff article:last-of-type img,
      .ferryChats article:last-of-type img {
        width: 100%; }

h1 {
  font-size: 48px;
  font-family: "Poppins Bold";
  color: #212529; }
  h1:first-letter {
    text-transform: capitalize; }

h2 {
  font-family: "Poppins Medium";
  font-size: 48px;
  text-transform: capitalize;
  color: #343a40; }

h3 {
  font-family: "Poppins Medium";
  font-size: 30px;
  text-transform: capitalize;
  color: #f47a4e; }

.active {
  color: #44a66a;
  font-family: "Poppins Bold"; }

.inactive {
  color: #212529; }

.pending {
  color: #495057; }

.btn {
  padding: 7px 36px;
  border: 2px solid #44a66a;
  border-radius: 7px;
  height: 48px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 18px; }

.primaryBtn {
  background-color: #44a66a;
  color: #f8f9fa; }
  .primaryBtn:hover {
    opacity: 0.9; }

.secondaryBtn {
  color: #44a66a; }
  .secondaryBtn:hover {
    opacity: 0.9;
    filter: hue-rotate(227deg); }

/* Responsiveness */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  header {
    row-gap: 48px; }

  .hero {
    row-gap: 60px; }

  nav ul {
    flex-flow: column wrap; }

  .whoWeAre {
    flex-flow: column-reverse wrap;
    row-gap: 60px; }
    .whoWeAre article:first-of-type img {
      width: 250px; }

  .youthGaff,
  .ferryChats {
    flex-flow: column wrap;
    row-gap: 16px; } }
@media only screen and (min-device-width: 220px) and (max-device-width: 767px) {
  header {
    row-gap: 48px;
    padding: 16px; }

  main {
    padding: 16px; }

  h1 {
    font-size: 30px; }

  h2 {
    font-size: 30px; }

  .hero {
    row-gap: 60px; }
    .hero article:last-of-type img {
      width: 250px; }

  nav {
    flex-flow: column wrap;
    align-items: center;
    align-content: center; }
    nav ul {
      flex-flow: column wrap; }

  .subscription {
    flex-flow: column wrap;
    align-items: center;
    row-gap: 16px; }
    .subscription input[type="email"] {
      border: 2px solid #adb5bd;
      border-radius: 7px;
      width: 250px; }
    .subscription input[type="submit"] {
      border: 2px solid #44a66a;
      border-radius: 7px;
      width: 250px; }

  .whoWeAre {
    flex-flow: column-reverse wrap;
    row-gap: 60px; }
    .whoWeAre article:first-of-type img {
      width: 250px; }

  .youthGaff,
  .ferryChats {
    flex-flow: column wrap;
    row-gap: 16px; } }

/*# sourceMappingURL=App.css.map */
