@import "./uiSystem.scss";

.App {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 100vh;
}
body {
  margin: {
    top: $h;
    bottom: $h;
  }
  background-color: $grey100;
  border: 2px solid $grey200;
  border-radius: $xxs;
  box-shadow: 0 $m $m $xxs rgba($grey500, $alpha: 0.2);
  font: {
    family: "Poppins Light";
    size: $xl;
  }
  width: 1500px;
  color: $grey800;
}
#root {
  display: flex;
  flex-flow: column wrap;
}

header {
  padding: $xh;
  display: flex;
  flex-flow: column nowrap;

  justify-content: space-between;
}

main {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 350px;
  justify-content: space-between;
}

footer {
  padding: $xh $xh $xs $xh;
  background-color: $orange700;
  border-bottom: {
    left-radius: $xxs;
    right-radius: $xxs;
  }

  display: flex;
  flex-flow: row wrap;
  row-gap: $xl;

  h2 {
    flex: 1 1 100%;
    color: $orange100;
  }
  article {
    display: flex;
    flex-flow: column nowrap;
    &:first-of-type {
      address {
        all: unset;
        ul {
          display: flex;
          flex-flow: column wrap;
          row-gap: $xxs;
          list-style-type: none;
          a {
            color: $orange100;
            display: inline-flex;
            align-items: baseline;
            column-gap: $xs;
            text: {
              decoration: none;
            }
            font: {
              family: "Poppins Medium";
            }
            &:hover {
              color: $grey100;
            }
          }
        }
      }
    }
    &:last-of-type {
      flex: 1 1 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      p {
        text-align: center;
        width: 60ch;
        border-top: 2px solid $orange300;
        padding-top: $m;
        font: {
          size: $s;
          family: "Poppins Bold";
        }
        color: $orange100;
      }
    }
  }
}
.desktop-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: baseline;
  font: {
    size: $xl;
  }

  img {
    width: 120px;
    height: 120px;
  }

  ul {
    flex: 1 1 auto;
    justify-content: center;
    text: {
      transform: capitalize;
    }
    a {
      text: {
        decoration: none;
      }
      &:hover {
        color: $green700;
      }
    }
    display: flex;
    column-gap: $h;
    list-style-type: none;
    li {
      &:last-of-type,
      &:nth-of-type(2) {
        min-width: 12ch;
      }
    }
    details {
      summary {
        list-style-type: none;
        cursor: pointer;
        &:hover {
          color: $green700;
        }
        &::before {
          content: "\002b";
          padding: {
            right: $xxs;
          }
        }
      }
      &[open] {
        summary {
          &::before {
            content: "\2212";
          }
        }
      }

      ul {
        flex-flow: column;
        row-gap: $xxs;
        padding: {
          top: $xxs;
        }

        li {
          padding: {
            left: $m;
          }
        }
      }
    }
  }
  a[class="btn secondaryBtn"] {
    margin-top: 0;
  }
}
.mobile-nav-active,
.mobile-nav-inactive {
  display: none;
}
.hero {
  display: flex;
  flex-flow: row wrap;
  column-gap: $h;
  padding: $xh;
  article {
    flex: 1 1 40%;
    display: flex;
    flex-flow: column nowrap;
    row-gap: $l;
    &:first-of-type {
      span {
        font: {
          size: $xxl;
          family: "Poppins Medium";
        }
        &::first-letter {
          text: {
            transform: capitalize;
          }
        }
        color: $green600;
        margin: {
          bottom: -$l;
        }
      }
      p {
        font: {
          size: $xl;
        }
        &:first-letter {
          text: {
            transform: capitalize;
          }
        }
        max-width: 45ch;
      }
      a {
        align-self: flex-start;
      }
    }
    &:last-of-type {
      justify-content: center;
      align-items: center;
      background: {
        image: url("./assets/img/hero_bkg.webp");
        repeat: no-repeat;
        size: cover;
      }
      img {
        filter: brightness(1.4);
        width: 350px;
      }
    }
  }
}

.who-we-are {
  padding: {
    top: $xh;
    right: $xh;
    left: $xh;
  }
  display: flex;
  flex-flow: row wrap;
  column-gap: $h;
  background-color: $orange100;
  article {
    display: flex;
    flex: 1 1 40%;

    &:first-of-type {
      justify-content: center;
      background: {
        image: url("./assets/img/who_we_are_bkg.svg");
        repeat: no-repeat;
        // size: cover;
      }
      img {
        width: 350px;
      }
    }
    &:last-of-type {
      flex-flow: column wrap;
      row-gap: $l;
      align-items: flex-start;
    }
  }
}

.whatWeDo {
  display: flex;
  flex-flow: column wrap;
  row-gap: $xh;
}

.ferry-chats,
.youth-gaff {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: $h;
  article {
    flex: 0 0 40%;
    display: flex;

    &:first-of-type {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      img {
        width: 550px;
      }
      background: {
        image: url("./assets/img/who_we_are_bkg.svg");
        repeat: no-repeat;
        size: cover;
      }
    }
    &:last-of-type {
      flex-flow: column nowrap;
      row-gap: $l;
      align-items: flex-start;

      p {
        a {
          padding: {
            left: $xxs;
          }
          text: {
            decoration: none;
          }
          color: $orange700;
        }
      }

      iframe {
        margin-top: $xh;
        border: none;
        // flex: 1 1 100%;
        width: 100%;
      }
    }
  }
}

.youth-gaff {
  flex-flow: row-reverse wrap;
  article {
    &:first-of-type {
      img {
        width: 250px;
      }
    }
  }
}

.meetings {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow: hidden;
  row-gap: $m;
  position: relative;
  padding-top: $xh;
  h3 {
    color: $grey700;
  }
  p {
    &::first-letter {
      text: {
        transform: capitalize;
      }
    }
  }
  span {
    position: absolute;
    display: inline-flex;
    padding: $s;
    border-radius: 50%;
    width: $xh;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;
    background-color: $orange200;
    cursor: pointer;
    opacity: 0.5;
    &:first-of-type {
      left: 3%;
      top: 50%;
    }
    &:last-of-type {
      right: 3%;
      top: 50%;
    }
    &:hover {
      opacity: 1;
    }
  }
  div {
    margin-top: $xh;
    display: flex;
    flex-flow: row nowrap;
    overflow-x: scroll;
    column-gap: $m;
    width: 80%;
    padding: {
      left: $m;
      right: $m;
    }

    @include hideScrollBar;
    article {
      flex: 1 0 30%;
      display: flex;
      flex-flow: row wrap;
      align-items: baseline;
      justify-content: space-between;
      row-gap: $l;
      padding: $l;

      border: 2px solid $orange200;
      border-top: $xxs solid $orange500;
      border-radius: $xxs;
      scroll-snap: {
        align: center;
        stop: always;
      }

      h4 {
        color: $grey700;
        font: {
          size: $xxl;
        }
      }
      time {
        font: {
          size: $m;
        }
        color: $grey600;
        flex: 1 0 100%;
        margin: {
          top: -$l;
        }
      }
      p {
        font: {
          size: $m;
        }
        max-width: 45ch;
      }

      h5 {
        flex: 1 0 100%;
        text-transform: capitalize;
        margin-top: $l;
        color: $grey700;
        border-bottom: 2px solid $grey200;
        padding-bottom: $xxs;
      }
      ul {
        display: flex;
        flex: 1 0 100%;
        flex-flow: column nowrap;
        row-gap: 0;
        list-style-type: none;
        line-height: $xl;
        padding: {
          bottom: $l;
        }

        li {
          a {
            text: {
              decoration: none;
            }
            font: {
              size: $s;
            }
            color: $orange900;
          }
        }
      }
    }
  }
}

.get-involved {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: {
    top: $xh;
    bottom: $xh;
    right: $xh;
    left: $xh;
  }
  form {
    display: flex;
    flex-flow: column wrap;
    width: 550px;
    row-gap: $s;

    input {
      border: none;
      border-bottom: 2px solid $orange900;
      background-color: transparent;
      outline: none;
      font: {
        size: $xl;
        family: "Poppins Medium";
      }
    }
    textarea{
      resize: none;
      background-color: transparent;
      border: 2px solid $orange900;
      border-radius: $xxs;
      padding: $m;
    }
    button{
      align-self: flex-end;
      cursor: pointer;
    }
  }
}
h1 {
  font: {
    size: $h;
    family: "Poppins Bold";
  }
  &:first-letter {
    text: {
      transform: capitalize;
    }
  }
  color: $grey900;
}
h2 {
  font: {
    family: "Poppins Medium";
    size: $h;
  }
  text: {
    transform: capitalize;
  }
  color: $grey800;
}
h3 {
  font: {
    family: "Poppins Medium";
    size: $xxl;
  }
  text: {
    transform: capitalize;
  }
  color: $orange400;
}

.active {
  color: $green600;
}

.inactive {
  color: $grey900;
}
.pending {
  color: $grey700;
}

.btn {
  padding: $xxs $xxxl;
  border: 2px solid $green700;
  border-radius: $xxs;
  height: $h;
  min-width: calc(2 *#{$phi}*#{$h});
  text: {
    decoration: none;
    transform: capitalize;
    align: center;
  }
  font: {
    size: $l;
  }
}

.primaryBtn {
  background-color: $green700;
  color: $grey100;
  margin-top: $h;
  &:hover {
    background-color: $green800;
  }
}
.secondaryBtn {
  color: $orange700;
  border-color: $orange700;
  &:hover {
    filter: hue-rotate(-227deg);
  }
  margin-top: $xxl;
}
/* Responsiveness */
@import "./tablet.scss";
@import "./mobile.scss";
