@import "./uiSystem.scss";

.App {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  min-height: 100vh;
}
body {
  margin: {
    top: $h;
    bottom: $h;
  }
  background-color: $grey100;
  border: 2px solid $grey200;
  border-radius: $xxs;

  font: {
    family: "Poppins Light";
    size: $xl;
  }
  width: 1500px;
  color: $grey800;
}
#root {
  display: flex;
  flex-flow: column wrap;
}

header {
  padding: $xh;
  display: flex;
  flex-flow: column nowrap;

  justify-content: space-between;
}

main {
  padding: $xh;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 350px;
  justify-content: space-between;
}

footer {
  padding: $xh $xh $xs $xh;
  background-color: $orange700;
  border-bottom: {
    left-radius: $xxs;
    right-radius: $xxs;
  }

  display: flex;
  flex-flow: row wrap;
  row-gap: $xl;

  h2 {
    flex: 1 1 100%;
    color: $orange100;
  }
  article {
    display: flex;
    flex-flow: column nowrap;
    &:first-of-type {
      address {
        all: unset;
        ul {
          display: flex;
          flex-flow: column wrap;
          row-gap: $xxs;
          list-style-type: none;
          a {
            color: $orange100;
            display: inline-flex;
            align-items: baseline;
            column-gap: $xs;
            text: {
              decoration: none;
            }
            font: {
              family: "Poppins Medium";
            }
            &:hover {
              color: $grey100;
            }
          }
        }
      }
    }
    &:last-of-type {
      flex: 1 1 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      p {
        text-align: center;
        width: 60ch;
        border-top: 2px solid $orange300;
        padding-top: $m;
        font: {
          size: $s;
          family: "Poppins Bold";
        }
        color: $orange100;
      }
    }
  }
}
.desktop-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: baseline;
  font: {
    size: $xl;
  }

  img {
    width: 120px;
    height: 120px;
  }

  ul {
    flex: 1 1 auto;
    justify-content: center;
    text: {
      transform: capitalize;
    }
    a {
      text: {
        decoration: none;
      }
      &:hover {
        color: $green700;
      }
    }
    display: flex;
    column-gap: $h;
    list-style-type: none;
    li {
      &:last-of-type,
      &:nth-of-type(2) {
        min-width: 12ch;
      }
    }
    details {
      summary {
        list-style-type: none;
        cursor: pointer;
        &:hover {
          color: $green700;
        }
        &::before {
          content: "\002b";
          padding: {
            right: $xxs;
          }
        }
      }
      &[open] {
        summary {
          &::before {
            content: "\2212";
          }
        }
      }

      ul {
        flex-flow: column;
        row-gap: $xxs;
        padding: {
          top: $xxs;
        }

        li {
          padding: {
            left: $m;
          }
        }
      }
    }
  }
}
.mobile-nav-active,
.mobile-nav-inactive {
  display: none;
}
.hero {
  display: flex;
  flex-flow: row wrap;
  column-gap: $h;
  article {
    flex: 1 1 40%;
    display: flex;
    flex-flow: column nowrap;
    row-gap: $l;
    &:first-of-type {
      span {
        font: {
          size: $xxl;
          family: "Poppins Medium";
        }
        &::first-letter {
          text: {
            transform: capitalize;
          }
        }
        color: $green600;
      }
      p {
        font: {
          size: $xl;
        }
        &:first-letter {
          text: {
            transform: capitalize;
          }
        }
        max-width: 45ch;
      }
    }
    &:last-of-type {
      justify-content: center;
      align-items: center;
      background: {
        image: url("./assets/img/hero_bkg.webp");
        repeat: no-repeat;
        size: cover;
      }
      img {
        filter: brightness(1.4);
        width: 350px;
      }
    }
  }
}
.subscription {
  display: flex;
  flex-flow: row wrap;
  margin: {
    top: $h;
  }

  justify-content: stretch;
  width: calc(10 *#{$xh});
  box-shadow: 0 0 $l $xxs rgba($green900, 0.2);

  input {
    height: $xh;
    font: {
      family: "Poppins Light";
      size: $l;
    }
    &[type="email"] {
      width: 70%;
      background-color: transparent;
      border: 2px solid $grey500;
      border-right: none;
      border: {
        top-left-radius: $xxs;
        bottom-left-radius: $xxs;
      }
      padding: $m;
    }
    &[type="submit"] {
      text-align: center;
      cursor: pointer;
      width: 30%;
      border: 2px solid $green700;
      background-color: $green700;
      border: {
        top-right-radius: $xxs;
        bottom-right-radius: $xxs;
      }
      color: $grey100;
      &:hover {
        background-color: $green800;
      }
    }
  }
}

.whoWeAre {
  display: flex;
  flex-flow: row wrap;
  column-gap: $h;
  article {
    display: flex;
    flex: 1 1 40%;

    &:first-of-type {
      justify-content: center;
      background: {
        image: url("./assets/img/who_we_are_bkg.svg");
        repeat: no-repeat;
        // size: cover;
      }
      img {
        width: 350px;
      }
    }
    &:last-of-type {
      flex-flow: column wrap;
      row-gap: $l;
      align-items: flex-start;
    }
  }
}

.whatWeDo {
  display: flex;
  flex-flow: column wrap;
  row-gap: $xh;
}

.ferry-chats {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  column-gap: $h;
  article {
    flex: 0 0 40%;
    display: flex;

    &:first-of-type {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      img {
        width: 550px;
      }
      background: {
        image: url("./assets/img/who_we_are_bkg.svg");
        repeat: no-repeat;
        size: cover;
      }
    }
    &:last-of-type {
      flex-flow: row wrap;
      row-gap: $l;
      h3 {
        flex: 1 1 100%;
      }
      a {
        padding: {
          left: $xxs;
        }
        text: {
          decoration: none;
        }
        color: $orange700;
      }

      iframe {
        margin-top: $xh;
        border: none;
        flex: 1 1 100%;
        height: 250px;
        
      }
    }
  }
}

.youth-gaff{
  display:none;
}
h1 {
  font: {
    size: $h;
    family: "Poppins Bold";
  }
  &:first-letter {
    text: {
      transform: capitalize;
    }
  }
  color: $grey900;
}
h2 {
  font: {
    family: "Poppins Medium";
    size: $h;
  }
  text: {
    transform: capitalize;
  }
  color: $grey800;
}
h3 {
  font: {
    family: "Poppins Medium";
    size: $xxl;
  }
  text: {
    transform: capitalize;
  }
  color: $orange400;
}

.active {
  color: $green600;
}

.inactive {
  color: $grey900;
}
.pending {
  color: $grey700;
}

.btn {
  padding: $xxs $xxxl;
  border: 2px solid $green700;
  border-radius: $xxs;
  height: $h;
  min-width: calc(2 *#{$phi}*#{$h});
  text: {
    decoration: none;
    transform: capitalize;
    align: center;
  }
  font: {
    size: $l;
  }
}

.primaryBtn {
  background-color: $green700;
  color: $grey100;
  box-shadow: 0 0 $l $xxs rgba($green900, 0.2);
  &:hover {
    background-color: $green800;
  }
}
.secondaryBtn {
  color: $orange700;
  border-color: $orange700;
  &:hover {
    filter: hue-rotate(-227deg);
  }
}
/* Responsiveness */
@import "./tablet.scss";
@import "./mobile.scss";
