@media only screen and (min-device-width: 220px) and (max-device-width: 767px) {
  header {
    row-gap: $h;
    padding: $m;
  }
  main {
    padding: $m;
  }
  h1 {
    font: {
      size: $xxl;
    }
  }
  h2 {
    font: {
      size: $xxl;
    }
  }
  .hero {
    row-gap: $xh;
    article {
      &:last-of-type {
        img {
          width: 250px;
        }
      }
    }
  }
  nav {
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
    ul {
      display: none;
    }
  }

  .subscription {
    flex-flow: column wrap;
    align-items: center;
    row-gap: $m;
    input {
      &[type="email"] {
        border: 2px solid $grey500;
        border-radius: $xxs;
        width: 250px;
      }
      &[type="submit"] {
        border: 2px solid $green700;
        border-radius: $xxs;
        width: 250px;
      }
    }
  }
  .whoWeAre {
    flex-flow: column-reverse wrap;
    row-gap: $xh;
    article {
      &:first-of-type {
        img {
          width: 250px;
        }
      }
    }
  }
}
