@media only screen and (min-device-width: 220px) and (max-device-width: 767px) {
  #root {
    position: relative;
  }

  header {
    row-gap: $h;
    padding: $xl;
    position: sticky;
    top: 0;
    z-index: 2;

    background-color: $grey100;
    border-bottom: 2px solid $grey200;
    box-shadow: 0 $xxs $h 0 rgba($grey500, $alpha: 0.2);
  }

  main {
    padding: $m;
  }
  h1 {
    font: {
      size: $xxl;
    }
  }
  h2 {
    font: {
      size: $xxl;
    }
  }
  .hero {
    row-gap: $h;
    article {
      &:last-of-type {
        img {
          width: 250px;
        }
      }
    }
  }
  .subscription {
    row-gap: $m;
    box-shadow: none;
    width: 90%;
    flex-flow: column nowrap;
    input {
      border-radius: $xxs;

      &[type="email"] {
        width: 100%;
        border: 2px solid $grey500;
      }
      &[type="submit"] {
        width: 100%;
        box-shadow: 0 0 $l $xxs rgba($green900, 0.2);
      }
    }
  }
  .desktopNav {
    display: none;
  }

  .mobile-nav-active {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    row-gap: $xxl;
    padding: {
      bottom: $h;
    }
    div {
      align-self: flex-end;
      display: flex;
      justify-content: space-between;
      width: 100%;
      a {
        font: {
          family: "Poppins Bold";
        }
        
        &::before {
          content: "BF";
          color: $green500;
        }
        &::after {
          content: "C";
          color: $orange500;
        }
        text-decoration: none;
      }
    }
    font: {
      size: $xl;
    }

    ul {
      list-style-type: none;
      display: flex;
      flex-flow: column wrap;
      row-gap: $s;

      li {
        display: inline-flex;
        align-items: center;

        column-gap: $s;
        a {
          &::first-letter {
            text-transform: capitalize;
          }
          text: {
            decoration: none;
          }
        }
      }
      details {
        ::first-letter {
          text-transform: capitalize;
        }
        summary {
          list-style-type: none;
          display: inline-flex;
          column-gap: $s;
          align-items: center;
        }
        ul {
          display: flex;

          row-gap: $s;
          margin: {
            top: $xxs;
            left: $h;
          }
        }
      }
    }
  }
  .mobile-nav-inactive {
    display: flex;
    justify-content: flex-end;
    ul {
      display: none;
    }
    div {
      align-self: flex-end;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    a {
      font: {
        family: "Poppins Bold";
      }
      
      &::before {
        content: "BF";
        color: $green500;
      }
      &::after {
        content: "C";
        color: $orange500;
      }
      text-decoration: none;
    }
  }
  .nav-icons {
    color: $grey500;
    font-size: $xl;
  }

  .whoWeAre {
    flex-flow: column-reverse wrap;
    row-gap: $xh;
    article {
      &:first-of-type {
        img {
          width: 250px;
        }
      }
    }
  }
  .youthGaff,
  .ferryChats {
    flex-flow: column wrap;
    row-gap: $m;
  }
}
