@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    margin: 0;
  }
  header {
    row-gap: $h;
    padding: $xl;
    position: sticky;
    top: 0;
    z-index: 2;

    background-color: $grey100;
    border-bottom: 2px solid $grey200;
    box-shadow: 0 $xxs $h 0 rgba($grey500, $alpha: 0.2);
  }
  main {
    padding-bottom: 0;
  }
  footer {
    border-radius: 0;
    row-gap: $h;
    article {
      row-gap: $xl;
      &:last-of-type {
        justify-content: center;
        p {
          // border-top: none;
        }
      }
    }
  }
  .hero {
    row-gap: $xh;
    article {
      &:last-of-type {
        img {
          width: 250px;
        }
      }
    }
  }
  .mobile-nav-active {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    row-gap: $xxl;
    padding: {
      bottom: $h;
    }
    div {
      align-self: flex-end;
      display: flex;
      justify-content: space-between;
      width: 100%;
      a {
        font: {
          family: "Poppins Bold";
        }

        &::before {
          content: "Broughty Ferry";
          color: $green500;
        }
        &::after {
          content: " Community";
          color: $orange500;
        }
        text-decoration: none;
      }
    }
    font: {
      size: $xl;
    }

    ul {
      list-style-type: none;
      display: flex;
      flex-flow: column wrap;
      row-gap: $s;

      li {
        display: inline-flex;
        align-items: center;

        column-gap: $s;
        a {
          &::first-letter {
            text-transform: capitalize;
          }
          text: {
            decoration: none;
          }
        }
      }
      details {
        ::first-letter {
          text-transform: capitalize;
        }
        summary {
          list-style-type: none;
          display: inline-flex;
          column-gap: $s;
          align-items: center;
        }
        ul {
          display: flex;

          row-gap: $s;
          margin: {
            top: $xxs;
            left: $h;
          }
        }
      }
    }
  }
  .mobile-nav-inactive {
    display: flex;
    justify-content: flex-end;
    ul {
      display: none;
    }
    div {
      align-self: flex-end;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    a {
      font: {
        family: "Poppins Bold";
      }

      &::before {
        content: "Broughty Ferry";
        color: $green500;
      }
      &::after {
        content: " Community";
        color: $orange500;
      }
      text-decoration: none;
    }
  }
  .nav-icons {
    color: $grey500;
    font-size: $xl;
  }

  .who-we-are {
    flex-flow: column-reverse wrap;
    row-gap: $xh;

    article {
      &:first-of-type {
        img {
          width: 250px;
        }
      }
      &:last-of-type {
        p {
          max-width: 45ch;
        }
      }
    }
  }

  .ferry-chats,
  .youth-gaff {
    row-gap: $h;
           padding: {
          top: $xh;
          right: $xh;
          left: $xh;
        }
    article {
      &:last-of-type {
        flex-flow: column nowrap;

        flex: 1 1 100%;
        p {
          max-width: 50ch;
        }
        iframe {
          max-width: 50ch;
        }
      }
    }
  }
  .youth-gaff {
    flex-flow: column-reverse wrap;
    article {
      &:first-of-type {
        img {
          width: 250px;
        }
        background-size: 350px;

      }
    }
  }

  .meetings {
    span {
      display: none;
    }
    div {
      padding: 0;
      width: 90vw;
      article {
        flex: 1 0 66%;
        p{
          max-width: 45ch;
        }
      }
    }
  }
}
