@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  header {
    row-gap: $h;
  }
  .hero {
    row-gap: $xh;
  }
  .desktopNav {
    display: none;
  }
  .mobileNav{
    display:flex;
  }
  .whoWeAre {
    flex-flow: column-reverse wrap;
    row-gap: $xh;
    article {
      &:first-of-type {
        img {
          width: 250px;
        }
      }
    }
  }
  .youthGaff,
  .ferryChats {
    flex-flow: column wrap;
    row-gap: $m;
  }
}
