/* Font Sizes */
$xxs: 7px;
$xs: 12px;
$s: 14px;
$m: 16px;
$l: 18px;
$xl: 20px;
$xxl: 24px;
$xxl: 30px;
$xxxl: 36px;
$h: 48px;
$xh: 60px;
$xxh: 72px;

/* Font Weights */
@font-face {
  font-family: "Poppins Light";
  src: local("Courier"), url("../assets/fonts/Poppins-Light.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Poppins Medium";
  src: local("Courier"), url("../assets/fonts/Poppins-Medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Poppins Bold";
  src: local("Courier"), url("../assets/fonts/Poppins-Bold.ttf");
  font-display: swap;
}

/* Greys */
$grey100: #f8f9fa;
$grey200: #e9ecef;
$grey300: #dee2e6;
$grey400: #ced4da;
$grey500: #adb5bd;
$grey600: #6c757d;
$grey700: #495057;
$grey800: #343a40;
$grey900: #212529;

/* Orange */
$orange100: #feeee9;
$orange200: #fcded3;
$orange300: #fbcdbd;
$orange400: #f8ac91;
$orange500: #f79b7a;
$orange600: #f58b64;
$orange700: #f47a4e;
$orange800: #f26a38;
$orange900: #f15922;

/* Green */
$green100: #e8f4ec;
$green200: #d0e9da;
$green300: #b9dec7;
$green400: #a1d3b5;
$green500: #73bc8f;
$green600: #5bb17d;
$green700: #44a66a;
$green800: #2c9b58;
$green900: #159045;

@mixin resetAutocomplete {
  /* Remove default autocomplete styling*/
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border-bottom: 2px solid $orange600;
    -webkit-text-fill-color: $grey100;
    transition: background-color 5000s ease-in-out 0s;

    background-color: transparent;
    padding: $xs $m;

    font: {
      family: "medium";
    }
  }
}

@mixin hideScrollBar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/*Default box sizing*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
}

a {
  color: $grey900;
}
